label{
    display: block;
    color: #071a2f5d;
    
}
.name-input{
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 29%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    position: relative;
}
.name-input input,.icon,.name-input select{
    height: 100%;
}
.name-input input,.name-input select{
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    padding-left: 10px;
}
.name-input .icon{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    max-width: 30px;
    width: 80%;
    font-size: 5px;
    height: 100%;
    background-color: #071a2f;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-forn{
    position: absolute;
    top: 100%;
    background-color: #071a2f;
    color: #fff;
    width: 100%;
    padding: 16px;
}
.list-forn p{
    margin: 12px 0;
    border-bottom: 1.5px solid #fff;
}
.forn{
    cursor: pointer;
}
.forn:hover{
    opacity: 0.7;
}
.inputs{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.perfil{
    margin-bottom: 50px;
    font-size: 28px;
    color: #071a2f;
    display: flex;
    align-items: center;
    position: relative;
}
.perfil > div{
    width: 50px;
    height: 50px;
    background-color: #071a2f;
    color: #fff;
    border-radius: 50%;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #8ee000;
}
.perfil > span{
    position: absolute;
    font-size: 14px;
    bottom: -8px;
}
.inputs .name-input{
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: auto;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    position: relative;
}
.inputs select{
    background-color: #cccccc;
    margin-left: auto;
}
.desc textarea{
    width: 400px;
}
.desc{
    margin-top: 20px;
}
.button-produ{
    position: absolute;
    width: 140px;
    height: 50px;
    background-color: #8ee000;
    color: #fff;
    border: none;
    right: 50px;
    bottom: 50px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}
.success{
    background-color: #8ee000;
    height: 50px;
    padding: 20px;
    color: #fff;
}
.buy{
    padding: 40px;
}
.forn-input .table{
    margin-top: auto;
}
.editbutton{
    color: #fff;
    background-color: #ff5967;
    cursor: pointer;
}
.radios{
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.passtext{
    text-decoration: underline;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 20px;
}
.passtext:hover{
    color: #071a2f60;
}